*{
  color: white;
}
.skills{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  padding-left: 20px;
  flex-direction: column;
}
.front-end, .back-end{
  flex-direction: column;

}
h1{
  transition: background-color 0.3s ease;
  color: wheat;


}
h1:hover {
  color: rgb(255, 167, 5);
  transform: scale3d(1.1, 1.1, 1.1);
}
h2{
  color: rgb(126, 126, 244);
  transition: background-color 0.3s ease-out;
}
h2:hover {
  color: rgb(28, 28, 164);
}
.skills {
  text-align: center;
}

.skill-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 1rem;
  cursor: pointer;
}

.skill-icon:hover {
  transform: rotateY(180deg);
  color: wheat;

}

.hovered {
  transform: rotateY(180deg);

}
