@font-face {
    font-family: 'Avocados Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Avocados Regular'), url('../../fonts/Avocados.woff') format('woff');
}
@font-face {
    font-family: 'Mosk Ultra-Bold';
    src: url('../../../src/fonts/Mosk\ Extra-Bold\ 800.ttf') format('truetype');
    /* Add more src lines for other font formats (e.g., woff, woff2) */
    font-weight: 900;
  }
.container{
    display: flex;
    align-items: center;
    background-color: rgb(30, 30, 30);
    height: 100vh;
    width: 100%;
    color: rgb(30, 30, 30);
}
.content {
    flex: 1;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 50%;
  

  
  }
 
.name{
   
    font-weight: 800;
    font-family: Avocados Regular, sans-serif;
    font-size:45px;
    color: wheat;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;



}
.name:hover {
  transform: scale(1.1);
  color: #2B75E4;
}

.profession{
    font-family: Mosk Ultra-Bold, sans-serif;
    
    font-size: 30px;
    color: #2B75E4;
    -webkit-text-fill-color: rgba(0, 0, 0, 0);
    
-webkit-text-stroke-color:     #0568fd;
; 
-webkit-text-stroke-width :1.5px;
font-weight: 900;
}
.canvas {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.2;
  z-index: 6;
}


.tagline {
  font-family: Mosk Ultra-Bold, sans-serif;
  font-weight: 900;
  font-size: 20px;
  line-height: 53px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2B75E4;
  /* -webkit-text-fill-color: #2B75E4;
  -webkit-text-stroke-color: #2B75E4; */
  -webkit-text-stroke-width: 1px;
  position: relative;
  display: inline-block;
  overflow: hidden;
}
lottie-container{
  justify-content: center;
    align-items: center;
    width: 50%;
    flex: 1;
    z-index: 5;




}
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .content {
    width: 100%;
    margin-bottom: 20px;
  }

  .name {
    font-size: 36px;
  }

  .profession {
    font-size: 24px;
  }

  .tagline {
    font-size: 16px;
    line-height: 30px;
  }

  .lottie-container {
    width: 100%;
  }
}
@media screen and (max-width: 1080px) {
  .container {
    flex-direction: column;
    padding: 20px;
  }

  .content {
    width: 100%;
  }

  lottie-container {
    width: 100%;
  }
}
/* 
.tagline::before {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  -webkit-text-stroke-color: #fff;
  -webkit-text-stroke-width: 1.5px;
  transform: translateX(-100%);
  animation: wavyText 2s infinite linear;
  transition: color 0.3s ease-in-out;
}

.tagline:hover::before {
  color: #fff;
}

@keyframes wavyText {
  0% {
      transform: translateX(-100%);
  }
  50% {
      transform: translateX(100%);
  }
  100% {
      transform: translateX(-100%);
  }
} */



/* .tagline{
    font-family: Mosk Ultra-Bold, sans-serif;
    font-weight: 900;
    font-size: 20px;
    line-height: 53px;
    -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale; 
     color: rgb(174, 143, 219); /* Solid color for the font */
     /* line-height:     59.3561px;
     -webkit-font-smoothing: antialiased;
     color:    #2B75E4;
     ;;
    -webkit-text-fill-color: rgba(0, 0, 0, 0);
 -webkit-text-stroke-color:      #2B75E4; 
;  -webkit-text-stroke-width :1.5px; 
}  */ 
/* .img-container {
  position: relative;
  perspective: 1000px;
}

.img-container .photo {
  transition: transform 1s ease;
  transform-style: preserve-3d;
}

.img-container:hover .photo {
  transform: translateZ(50px);
} */
/* .name:hover {
  -webkit-text-stroke-color: #2B75E4;
  -webkit-text-stroke-width: 1.5px;
}

.profession:hover,
.tagline:hover {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: #2B75E4;
  -webkit-text-stroke-width: 1.5px;
} */
 
 /* .img {
    text-align: center;    
    margin-right: 180px;   
  } */
  /* 
.profession:hover {
  color: whitesmoke;
}

.profession:hover::before {
  content: attr(data-text);
  position: absolute;
  left: 0;
  text-stroke: 1.5px #2B75E4;
  -webkit-text-stroke: 1.5px #2B75E4;
  -webkit-text-fill-color: whitesmoke;
} */