.container{
    display: flex;
    align-items: center;
    background-color: rgb(30, 30, 30);
    height: 100vh;
    width: 100%;
    color: rgb(30, 30, 30);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.profession {
  color: #ffffff;
  font-size: 2.5rem;

}
.lottie-container {
  overflow: hidden; /* Add overflow property to the parent container */
  justify-content: center;
  align-items: center;
  width: 50%;
  flex: 1;
  z-index: 5;
  position: relative;
}

.content, .lottie {
  margin: 10px; /* Add margin around the elements */
  text-align: center; /* Center the text horizontally */
  position: relative;
  /* z-index: 1; */
}
.name {
  font-size: 40px;
  color: transparent;
  -webkit-text-stroke: 2px #ffffff;
  text-stroke: 2px #ffffff;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  margin-top: 50px;

  transition: background 0.3s;
}

.name:hover {
  background-position: right;
  background: linear-gradient(to right, #007bff, #00bfff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.shake {
  animation-name: shake;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px) rotate(-5deg);
  }
  50% {
    transform: translateX(5px) rotate(5deg);
  }
  75% {
    transform: translateX(-5px) rotate(-5deg);
  }
  100% {
    transform: translateX(0);
  }
}
.tagline {
  font-size: 1.2rem;
  color: #ffffff;
 
}

@keyframes typing-effect {
  from {
    width: 0;
  }
}
@media (max-width: 400px) {
  .lottie{
    overflow: scroll;
  }
  
}

